<mat-tab-group>
  <mat-tab label="Simple">
    <app-simple></app-simple>
  </mat-tab>
  <mat-tab label="Greeting">
    <app-greeting></app-greeting>
  </mat-tab>
  <mat-tab label="Transposed">
    <app-transposed></app-transposed>
  </mat-tab>
  <mat-tab label="Transposed (DRY)">
    <app-transposed-dry></app-transposed-dry>
  </mat-tab>
  <mat-tab label="Transposed w/ Greeting">
    <app-transposed-greeting></app-transposed-greeting>
  </mat-tab>
  <mat-tab label="Transposed w/ Greeting (DRY)">
    <app-transposed-greeting></app-transposed-greeting>
  </mat-tab>
</mat-tab-group>
